@import url(/assets/css/root.css);

.pt-35 {
    padding-top: 35px;
}
.mt180{
    margin-top: 180px;
}
.ml36 {
    margin-left: 36px;
}

.mt60 {
    margin-top: 60px;
}

.ml25 {
    margin-left: 25px;
}

.pb-18 {
    padding-bottom: 18px;
}

.mt166 {
    margin-top: 166px;
}

.mt42 {
    margin-top: 42px;
}

.mt30 {
    margin-top: 30px;
}

.ml30 {
    margin-left: 30px;
}

.a5000 {
    font-family: var(--roboto);
    font-size: var(--fs-18);
     font-weight: var(--fw-700);
     font-weight: var(--lh-29);
    text-align: var(--text-align-center);
    color: rgba(43, 53, 62, 0.7);
    max-width: 274px;

}


.a5000 span {
   
    font-family: var(--roboto);
    font-size: var(--fs-18);
     font-weight: var(--fw-400);
     font-weight: var(--lh-29);
    text-align: var(--text-align-center);
}



.section-blue {
    background: #1E71FF;
}

/* navbar work*/
.logo {
    
    font-size: var(--fs-26);
     font-weight: var(--fw-600);
    line-height: 30.16px;
    letter-spacing: -0.02em;
    text-align: center;
    color: #FFFFFF;
}

.logo-2 {
     font-weight: var(--fw-200);
}

.line {
    margin-bottom: 3px;
    width: 30px;
    height: 4px;
    background: white;
}

.links {
    gap: 30px;
    font-family: var(--roboto);
    font-size: var(--fs-14);
     font-weight: var(--fw-500);
    line-height: 16.41px;
    text-align: right;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;

}


.menu-bar li {
    display: inline;
    margin-right: 30px;
}

.try {
    width: 111px;
    height: 40px;
    border-radius: 210px;
    background-color: #4B8DFF;
    font-family: var(--roboto);
    font-size: var(--fs-14);
     font-weight: var(--fw-500);
    line-height: 16.41px;
    text-align: center;
    color: #FFFFFF;
    outline: none;
    border: none;
    transition: all .5s linear;
}

.try:hover {
    scale: 1.1;
}

.nav-logo {
    display: none;
}





/* conatiner-1 work*/
.have {
    font-family: var(--poppins);
    font-size: var(--fs-75);
     font-weight: var(--fw-600);
     font-weight: var(--lh-96-3);
    letter-spacing: -0.02em;
    text-align: var(--text-align-center);
    color: #FFFFFF;
    margin-bottom: 0;
}

.fast {
    margin-top: 20px;
    font-family: var(--roboto);
    font-size: var(--fs-21);
     font-weight: var(--fw-400);
    line-height: 24.61px;
    text-align: var(--text-align-center);
    color: white;
    margin-bottom: 0;
}

.bt-1 {
    width: 172px;
    height: 50px;
    border-radius: 60px;
    background: #1E71FF;
    font-family: var(--roboto);
    font-size: var(--fs-16);
     font-weight: var(--fw-500);
    line-height: 18.75px;
    text-align: center;
    color: white;
    border: 1px solid rgba(255, 255, 255, 1);
    transition: all .3s linear;

}

.bt-1:hover {
    background: #FFFFFF;
    color: #1E71FF;
}

/* section 2 */

.instant {
    margin-top: 90px;
    font-family: var(--poppins);
    font-size: var(--fs-45);
     font-weight: var(--fw-500);
     font-weight: var(--lh-57);
    text-align: center;
    color: rgba(43, 53, 62, 1);
    margin-bottom: 30px;
    ;
}

.lorem {
    font-family: var(--roboto);
    font-size: var(--fs-18);
     font-weight: var(--fw-400);
     font-weight: var(--lh-29);
    text-align: center;
    max-width: 566px;
    height: 145px;
    color: #6B7278;
}

/* section-3 */
.bg-3 {
    background: #E8F1FF;
}

.left-0 {
    left: 0;
}

.t124 {
    top: 124px;
}

.perfect {
    font-family: var(--poppins);
    font-size: var(--fs-45);
     font-weight: var(--fw-500);
     font-weight: var(--lh-57);
    text-align: var(--text-align-center);
    color: rgba(43, 53, 62, 1);
    ;
}

.pricing {
    font-family: var(--roboto);
    font-size: var(--fs-21);
     font-weight: var(--fw-400);
    line-height: 33.96px;
    text-align: var(--text-align-center);
    color: rgba(43, 53, 62, 0.7);
    ;
}

.pl100 {
    padding-left: 100px;
}

.center-pos {
    top: 50%;
    transform: translateY(-50%);
}

.h-592px {
    height: 592px;
}

.py-media {
    padding-top: 166px;
    padding-bottom: 166px;
}

.bt-2 {
    width: 167px;
    height: 50px;
    border-radius: 60px;
    background: white;
    font-family: var(--roboto);
    font-size: var(--fs-17);
     font-weight: var(--fw-500);
    line-height: 19.92px;
    text-align: center;
    color: #1E71FF;
    border: 1px solid #1E71FF;
    transition: all .3s linear;

}

.bt-2:hover {
    background: #1E71FF;
    color: white;

}

.line-2 {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 167px;
    margin-top: 90px;
    border: 1px solid rgba(43, 53, 62, 0.15)
}

/*footer*/
.chatapp {
    font-family: var(--poppins);
    font-size: var(--fs-26);
     font-weight: var(--fw-600);
    line-height: 30.16px;
    letter-spacing: -0.02em;
    text-align: left;
    color: rgba(30, 113, 255, 1);
}

.chatapp span {
     font-weight: var(--fw-200);
}

.pt-90 {
    padding-top: 90px;
}

.copiright {
    font-family: var(--roboto);
    font-size: var(--fs-13);
     font-weight: var(--fw-400);
    line-height: 21.02px;
    text-align: left;
    color:  rgba(43, 53, 62, 0.7);;

}

.the-last-team {
    margin-top: 18px;
    font-family: var(--roboto);
    font-size: var(--fs-15);
     font-weight: var(--fw-400);
    line-height: 24.25px;
    text-align: left;
    color: rgba(43, 53, 62, 0.7);
}

.max-width-168 {
    max-width: 168px !important;
}

.mt-5rem {
    margin-top: 5rem;
}

.heading-footer {
    font-family: var(--poppins);
    font-size: var(--fs-18);
     font-weight: var(--fw-400);
     font-weight: var(--lh-29);
    text-align: left;
    color: rgba(43, 53, 62, 1);
    margin-bottom: 20px;
}

footer ul li a {
    text-decoration: none;
}

footer ul {
    padding-left: 0;
}

.links-footer {
    margin-top: 0;
    font-family: var(--roboto);
    font-size: var(--fs-13);
     font-weight: var(--fw-400);
    line-height: 21.02px;
    text-align: left;
    margin-bottom: 12px;
    color: rgba(43, 53, 62, 0.7);
}

@media (max-width: 992px) {
    .ram-card{
        justify-content: center;
    }
    .line-2-parent {
        align-content: center;
        justify-content: center;
        align-items: center;
    }

    .lorem {
        padding-bottom: 35px;
    }

    .menu-bar {
        width: 100%;
        height: 100%;
        flex-direction: column !important;
        background: rgb(28, 35, 46);
        top: -100%;
        right: 0;
        z-index: 2;
        transition: all .4s linear;
        align-items: center !important;
        justify-content: center !important;
        display: flex !important;
        position: fixed;

    }
.line-2{
    margin-top: 55px;
}
    .star {
        justify-content: center;
    }

    .try-it {
        justify-content: center;
    }

    .btn-div {
        margin-bottom: 30px;
    }

    input[type="checkbox"]:checked~.menu-bar {
        top: 0%;
    }

    .a5000 {
        min-width: unset;
    }

    .nav-logo {
        display: block;
        z-index: 14;
        width: 25px;
    }


    .menu-bar li {
        margin-bottom: 25px;
        margin-right: 0;
    }

    /* container-1 work*/
    .lg-column-revrse {
        flex-direction: column-reverse;
    }

    .mt18 {
        margin-top: 18px;
    }

    .py-media {
        padding-top: 85px;
        padding-bottom: 85px;
    }

    .card-1 {
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .have {
        text-align: center;
    }

    .div-img {
        position: unset !important;
        width: 100% !important;
    }

    .t124 {
        top: 0;
    }

    .center-pos {
        top: auto;
        transform: none;
    }

    .pl100 {
        padding-left: 0;
    }

    .h-592px {
        height: auto;
    }


}

@media (max-width: 576px) {
    .bt-2 {
        margin-bottom: 15px;
    }
    .line-2{
        margin-top: 45px;
    }

    .py-media {
        padding-top: 45px;
        padding-bottom: 45px;
    }

    footer ul li {
        text-align: center !important;
    }

    footer ul li a {
        text-align: center;
    }

    footer p {
        text-align: center !important;
        ;
    }

    .max-width-168 {
        max-width: unset !important;
    }


    .ml36 {
        margin-left: 0;
    }

    .ml30 {
        margin-left: 0;
    }

    .try-it {
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
    }

    .star {
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
    }

    .btn-div {
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
    }

    .bt-1 {
        margin-bottom: 5px;
    }

    * {
        text-align: center;
    }

}